<!DOCTYPE html>
<% provide(:title, "About") %>


<div class="about-us center">
  <h1>OTOCOS（オトコス）って？</h1>
  <h3>OTOCOSは男性向けに化粧品の情報、口コミをまとめたサイトです。</h3>
  <p>ジェンダーレス社会が進み、今や男性もファッションや美容、コスメに気を使うのが当たり前の時代。</p>
  <p>しかし化粧品のサイトはどれも女性向けのものばかり…</p>
  <p>そんな悩みに答えるために作られた口コミ情報サイトがFLYBです。</p>
  <p>あなたにあった最高のコスメを見つけましょう！</p>
  <%= link_to "新規登録",signup_path ,class: "btn-gradation"%>
</div>
