.brand{
   .content {
    display: block;
    img {
      display: block;
      padding: 5px auto;
      margin-left:50px;
      width:300px;
    }
    ul {
    display:block;
    float: left;
    list-style: none;
    }
    .brand-name{
        color:#151e19;
        font-size:28px;
        border-bottom:1px solid #ffcc00;
        padding:10px 0 10px 0;
        margin-bottom:10px;
    }
    .brand-explain{
        color:#636561;
        font-size:14px;
        line-height: 17px;
        letter-spacing:3px;
        text-align:left;
        padding:2px;
        font-family:serif;
    }
  }
}
.brands{
    img {
      display: block;
      padding: 5px auto;
      margin-left:80px;
      width:25%;
    }
}