// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.users {
  list-style: none;
  margin: 0;
  color:#80796c;
  .container{
    display:flex;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray-lighter;
  }
  .brand-explain{
    color:black;
    font-family:serif;
    margin-top:40px;
    font-size:17px;
  }
  img{
    width:250px;
    margin:40px 60px 0 -20px;
  }
}

.users-2 {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}
.btn-signup{
  padding:0 auto;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
  margin-top:20px;
}
.row{
  color:#80796c;
}