<% provide(:title, @brand.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="brand">
      <div class="content">
        <h1>
          <%= image_tag @brand.image_name if @brand.image_name.attached? %>
          <ul>
            <li class="brand-name"><%= @brand.name %></li>
            <li class="brand-explain"><%= @brand.explain %></li>
          </ul>
        </h1>
      </div>
    </div>
  </aside>
</div>