<% provide(:title, '商品') %>

<ul class="users brands">
  <h1>新着商品</h1>
  <% @products.each do |product| %>
    <ul>
      <li class="brand-name"><%= product.name %></li>
      <div class="container">
        <div class="item"><%= image_tag product.image_name if product.image_name.attached? %></div>
        <div class="brand-explain item"><%= product.explain %></div>
      </div>
      <li><%= link_to "#{product.name}の口コミを見る","products/#{product.id}",class:"default-link" %></li>
    </ul>
  <% end %>
</ul>
